<div class="aboutContent">
	<p>The Testing Skills Map app was created by Alexandra Casapu.</p>
	<p>
	The idea for creating a repo of testing skills maps came after I thought for a while about my own testing skills and how to analyze them. First I created a presentation on this theme, which evolved as I talked on this subject at different conferences (TampereGoesAgile in 2013, CAST in 2014, and CopenhagenContext in 2015). Then I started work on a workshop which explores reflection as a tool for examining testing skills, which was held at Let's Test in 2015. 
	</p>
	<p>One of the things I noticed was that deep skill analysis is not a trivial activity, and there were skills needed for doing that. So they could be developed with practice. This is why this app offers some guidelines meant to structure this activity and help you practice it.
	</p>
	<p>
	Something I suspect from my experience is that there is no standard set of skills a tester should have. People use different skills combinations to solve problems, and different combinations may be equally effective. So a tester's skills are in a way very personal, although some may overlap with other testers' skills. This is why this repo sets out to give you access to personal testing skills maps of other people, to a picture of others' personal state of the art in testing.
	</p>
	<p>
	Providing access to a collective taxonomy of skills is a central element of this initiative. The premise I start from is that collective knowledge is more powerful than individual knowledge, and can contribute significantly to the testing craft. To create this collective knowledge it is necessary that as many people contribute to the repo. This is why I wanted to share my own map and create a place where others could do the same. 
	</p>
	<p>The content of this application includes ideas from these sources:</p>
	<ul>
		<li>Discussion of t<u>h</u>e Method by Billy Vaughn Koen</li>
		<li>The BBST courses</li>
		<li>How we think by John Dewey</li>
		<li>The Sciences of the Artificial by Herbert A. Simon</li>
		<li>How to read a book by mortimer J. Adler and Charles van Doren</li>
		<li>The power of feedback by John Hattie and Helen Timperley</li>
		<li>Maps of Bounded Rationality: Psychology for Behavioral Economics by Daniel Kahneman</li>
		<li>Conditions for intuitive expertise: a failure to disagree by Daniel Kahneman and Gary Klein</li>
		<li>Learning Through Reflection by Donald Clark</li>
		<li>LessWrong</li>
		<li>edX Thinking 101 course</li>
	</ul>

	<p>Special thanks to Bogdan Szabo for helping me in the implementation of the app. And I also thank Altom for the support with the hosting of the app.</p>
	<p>If you have any comments, questions or suggestions about the app, feel free to contact me at <a href= "mailto:heirloomalexis@gmail.com">heirloomalexis@gmail.com</a> or on <a href = "https://twitter.com/coveredincloth">Twitter</a>.</p>
	<p>If you'd like to contribute to this project or check out the code, the app repo is public and can be found <a href="https://bitbucket.org/coveredincloth/testingskillsmap">here</a>.</p>
</div>