<div class="browseMapContent">
	<h1>Published maps</h1>

	<div id='mapsSection'>
	</div>
</div>


<template id='publishedMapNameTemplate'>
<div class='publishedSkillsMap'>
  <div class = 'title'></div>
  <ul class = 'categoriesList'></ul>
</div>
</template>

<template id="publishedMapCategoryTemplate">
  <li class="category col-md-4">
    <div class="category-name"></div>

    <ul class = 'skillsList'></ul>

  </li>
</template>

<template id="publishedMapSkillTemplate">
  <li class="skill">
    <div class="skill-name"></div>
  </li>
</template>