<div class="row">
  <div class="makeMapContent col-md-9" role="main" id="personal-workspace">
    <h1><span class="target"></span>This is your personal workspace</h1>
    <p>Here's where you keep your notes and work on your map.</p>


    <div id="step-1" class="step1 step">
      <p>To help in creating your map and working on it as it grows, you can use the following flow as a guideline:</p>
      <h2><span class="stepHelper">1.</span> Identify problem solving situations</h2>

      <p>Testing skills are used as part of your problem solving mechanism, so analyzing how you solve problems may be a good
        starting point. Here's a description of this process that Herbert A. Simon offers in <a href="https://courses.washington.edu/thesisd/documents/Kun_Herbert%20Simon_Sciences_of_the_Artificial.pdf"
        target="_blank">"The Sciences of the Artificial"</a>:
        <blockquote>Problem solving is often described as a search through a vast maze of possibilities, a maze that describes the environment.
          Successful problem solving involves searching the maze selectively and reducing it to manageable proportions.</blockquote>
        How you perform this search, and in what ways it is effective, is what you want to pinpoint from analyizing problem solving
        situations.
      </p>

      <p>Reflecting on how you solve problems is a different activity from actually doing the solving, and this retrospective
        analysis is a tool for discovering and analyzing your skills. In another book, <a href="http://www.gutenberg.org/files/37423/37423-h/37423-h.htm"
        target="_blank">"How we think"</a>, John Dewey presents a scaffolding for the reflection process, in the form of
        the following steps. To apply it for reflecting on your testing skills, think of a situation when you tried to solve
        a problem while doing some test activity,and identify:
      </p>
      <blockquote>
        <ol>
          <li>the difficulty you felt</li>
          <li>the location of the problem</li>
          <li>the possible solutions you found</li>
          <li>how you experimented with and tested solutions</li>
          <li>the conclusion regarding the acceptance or rejection of the suggested solution/s</li>
        </ol>
      </blockquote>
      <p>Taking notes while thinking about each of the steps can help in the analysis of the situation</p>
      <div class="editable-container">
        <div class="editable-separator">

        </div>
        <div id="load">
          <img src="ajax-loader.gif">
        </div>
        <div id="step1Editable" class="editable step1Editable saveEditableOnChange hide">You can take notes right here...</div>
      </div>
    </div>
    <div class="step2 step" id="step-2">
      <h2><span class="stepHelper">2.</span> Identify the skills you used</h2>
      <p>For each of the steps in the reflection process, think about what skills you used. </p>
      <p>
        When identifying skills, it's essential to figure out what skills are, but also what other elements in the knowledge dimension
        are. Here are some heuristics which can help you to identify the skills and to not mix them with something else:
      </p>

      <p>
        First, here is some info based on a table in the <a href="http://testingeducation.org/BBST/instructor/BBSTInstructorsManual_Sept2012.pdf"
        target="_blank">BBST Instructors' course</a> differentiating between different elements in the knowledge dimension.
        You can find out more details about each of these elements by clicking on the comment button.
      </p>

      <div class="form-group">
        <label for="facts">Facts</label>

        <div class="input-group">
          <input type="text" id="facts" class="form-control saveOnKeyPress">
          <span class="input-group-btn">
           <a class="btn btn-info btn-info-group" data-target="facts" role="button">
             <i class="fa fa-comment-o"></i>
           </a>
         </span>
        </div>
      </div>

      <div class="form-group">
        <label for="concepts">Concepts</label>
        <div class="input-group">
          <input type="text" id="concepts" class="form-control saveOnKeyPress">
          <span class="input-group-btn">
            <a class="btn btn-info btn-info-group" data-target="concepts"  role="button"><i class="fa fa-comment-o"></i>
            </a>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="procedures">Procedures</label>
        <div class="input-group">
          <input type="text" id="procedures" class="form-control saveOnKeyPress">
          <span class="input-group-btn">
            <a class="btn btn-info btn-info-group" data-target="procedures"  role="button"><i class="fa fa-comment-o"></i>
            </a>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="procedures">Cognitive Strategies</label>
        <div class="input-group">
          <input type="text" id="cognitiveStrategies" class="form-control saveOnKeyPress">
          <span class="input-group-btn">
            <a class="btn btn-info btn-info-group" data-target="cognitiveStrategies"  role="button"><i class="fa fa-comment-o"></i>
            </a>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="models">Models</label>
        <div class="input-group">
          <input type="text" id="models" class="form-control saveOnKeyPress">
          <span class="input-group-btn">
            <a class="btn btn-info btn-info-group" data-target="models" role="button"><i class="fa fa-comment-o"></i></a>
          </span>
        </div>
      </div>


      <div class="form-group">
        <label for="skills">Skills</label>
        <div class="input-group">
          <input type="text" id="skills" class="form-control saveOnKeyPress">
          <span class="input-group-btn">
           <a class="btn btn-info btn-info-group" data-target="skills"><i class="fa fa-comment-o"></i></a>
         </span>
        </div>
      </div>

      <div class="form-group">
        <label for="attitudes">Attitudes</label>
        <div class="input-group">
          <input type="text" id="attitudes" class="form-control saveOnKeyPress">
          <span class="input-group-btn">
           <a class="btn btn-info btn-info-group" data-target="attitudes"><i class="fa fa-comment-o"></i></a>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="attitudes">Metacognition</label>
        <div class="input-group">
          <input type="text" id="metacognition" class="form-control saveOnKeyPress">
          <span class="input-group-btn">
           <a class="btn btn-info btn-info-group" data-target="metacognition"><i class="fa fa-comment-o"></i></a>
          </span>
        </div>
      </div>

      <div class="identify-skills bottom-group">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="group facts">
                <h5>Facts</h5>
                <p>A “statement of fact” is a statement that can be unambiguously proved true or false.</p>
                <h6>Example</h6>
                <p>James Bach was born in 1623” is a statement of fact (but not true for the James Bach we know in the software
                  testing community). A fact is the subject of a true statement of fact.</p>
              </div>

              <div class="group concepts">
                <h5>Concepts</h5>
                <p>A concept is a general idea. “Concepts are abstract in that they omit the differences of things in their
                  extension, treating them as if they were identical.” (Wikipedia: Concept).</p>
                <h6>Practical terms</h6>
                <p>We treat the following kinds of things as “concepts” in this taxonomy:</p>
                <ul>
                  <li>definitions</li>
                  <li>descriptions of relationships between things</li>
                  <li>descriptions of contrasts between things</li>
                  <li>description of the idea underlying a practice, process, task, heuristic (whatever).</li>
                </ul>
              </div>

              <div class="group procedures">
                <h5>Procedures</h5>
                <p>Procedures are algorithms. They include a reproducible set of steps for achieving a goal.</p>
                <h6>Reporting a bug</h6>
                <p>Consider the task of reporting a bug. Imagine someone has broken this task down into subtasks (simplify the
                  steps, look for more general conditions, write a short descriptive summary, etc.) and presented the tasks
                  in a sequential order. This might be a procedure or a cognitive strategy.</p>
                <p>This description is intended as a procedure if the author expects you to do all of the steps in exactly this
                  order every time. The description is intended as a cognitive strategy if it is meant to provide a set of
                  ideas to help you think through what you have to do for a given bug, with the understanding you may do
                  different things in different orders each time. In such cases, the description is a useful reference point
                  as you go.</p>
              </div>

              <div class="group cognitiveStrategies">
                <h5>Cognitive strategies</h5>
                <p>Cognitive strategies are guiding procedures students can use to help them complete less structured tasks,
                  such as those in reading comprehension and writing.</p>
              </div>

              <div class="group models">
                <h5>Models</h5>
                <p>A model is a simplified representation created to make something easier to understand, manipulate or predict
                  some aspects of the modeled object or system. It is an expression of something we may not completely understand
                  in terms of something we think we do understand.</p>
                <h6>Differentiation between models and other elements</h6>
                <p>Deciding to use a state-machine representation of a program as a vehicle for generating tests is a cognitive
                  strategy.
                </p>
                <p>Slavishly following someone’s step-by-step catalog of best practices for generating a statemachine model
                  of a program to derive scripted test cases for unskilled personnel to follow is a procedure.
                </p>
                <p>This definition of a model is a concept.</p>
                <p>The assertion “Harry Robinson publishes papers on software testing and models” is a statement of fact.</p>
              </div>

              <div class="group skills">
                <h5>Skills</h5>
                <p>Skills are behaviors improved with practice.</p>

                </p>Effective bug report writing is a skill, and includes several other skills. One of those sub-skills is the
                ability to take a visible failure and vary your test conditions until you find a simpler set of conditions
                yielding the same failure. This is skilled work. Getting better at skilled work takes time and practice.</p>

                <p>Instruction about skills will often feature examples demonstrating skilled work, like “Here’s how I use this
                  technique” or “Here’s how I found that bug.” The specific demonstrations might be of a procedure, cognitive
                  strategy, or skilled performance. In many cases, it would be accurate and useful to class something as
                  both a skill and a cognitive strategy.</p>
              </div>

              <div class="group attitudes">
                <h5>Attitudes</h5>
                <blockquote>
                  <p>An attitude is a persisting state that modifies an individual’s choices of action</p>
                  <footer>Gagne, Briggs, & Wager, 1992, p. 48</footer>
                </blockquote>
                <p>Attitudes are often based on beliefs (a belief is a proposition held as true whether it has been verified
                  true or not).</p>
              </div>

              <div class="group metacognition">
                <h5>Metacognition</h5>
                <blockquote>
                  <p>Awareness and understanding of one's own thought process</p>
                  <footer>Oxford English dictionary</footer>
                </blockquote>
                <p>Metacognition refers to the executive process involved in such tasks as:</p>
                <ul>
                  <li>planning (such as choosing which procedure or cognitive strategy to adopt for a specific task);
                  </li>
                  <li>estimating how long it will take (or at least, deciding to estimate and figuring out what skill/ procedure/staffing
                    to apply to obtain that information);</li>
                  <li>monitoring how well you are applying the procedure or strategy; and</li>
                  <li>remembering a definition or realizing you don’t remember it and digging through web searches for an adequate
                    substitute.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p>Secondly, try to identify a specific skill, one tied to the situation you are analyzing. Avoid writing down generic
        characteristics like "Communication"; you can communicate more or less effectively. What does "Communication" tell
        you? What can you get from it if you read it in 6 months from now? Will you be able to recall the exact skill and
        why you think it was a skill? </p>
      <p>Another idea: think of skills as heuristics. Here are the four signatures of the heuristic from <a href="https://books.google.ro/books/about/Discussion_of_the_Method.html?id=xLfTi2dpYTcC&redir_esc=y"
        target="_blank">"Discussion of t<u>h</u>e method"</a>, a book by Billy Vaughn Koen about the engineering method for
        solving problems:</p>
      <div id="heuristic-bullets-container">
        <ul id="heuristicSignature">
          <li> A heuristic does not guarantee a solution,</li>
          <li> It may contradict other heuristics,</li>
          <li> It reduces the search time for solving a problem, and</li>
          <li> Its acceptance depends on the immediate context instead of an absolute standard</li>
        </ul>
      </div>
      Do your skills match these characteristics?
      </p>


      </ul>
    </div>
    <div class="step3 step" id="step-3">
      <h2><span class="stepHelper">3.</span> List them under categories in your map</h2>
      <p>Categorizing your skills can help in some ways, because it adds structure. For example, after you have gathered data
        in your skills map, you can look for large differences between categories. Maybe one of them has many more skills
        than others. That may mean that you have an area of skills that you work on a lot, that you specialize in, and so
        you’ve discovered a main interest. Or noticing that you use skills from a single category often, can inform you that
        maybe it would be interesting looking at how you could apply other kinds of skills to solve some problems.
      </p>
      <p>Don’t expect the categories to be perfect delimiters of skills. If a skill could work in two distinct categories, that’s
        fine, you can choose the one you think fits best. However, when creating categories, a good heuristic is that if
        any of the skills in your map could go into that category, then it’s too general.</p>
      <section id="mapSection">

        <div class="input-group input-group-map-name">
          <input id="mapName" type="text" class="form-control saveOnKeyPress mapName" placeholder="My personal testing skills map">
          <span class="input-group-btn">
            <button class="btn map-full-screen"><i class="fa fa-arrows-alt"></i><i class="fa fa-compress"></i></button>
          </span>
        </div>

        <ul class="skillsMap">
        </ul>

        <button id="addCategory" class="btn btn-default saveOnClick"><i class="fa fa-plus"></i> category</button>

      </section>
    </div>

    <div class="step4 step" id="step-4">
      <h2><span class="stepHelper">4.</span> Repeat</h2>
      <p>Remember, what's more important than the resulting map is the reflection process you practice with each time you go
        through the flow. With time and deliberate practice, the map will become more relevant and you will notice interesting
        patterns about your own skills evolution.
      </p>
      <p>This process may become part of how you identify new skills you want to acquire, apart from discovering the skills
        you already use.</p>
      <p>There are multiple types of reflection described in <a href="http://www.nwlink.com/~donclark/hrd/development/reflection.html">this</a>        article by Donald Clark. Here's one way of categorizing reflection:
        <ul>
          <li>Rapidly during an action.</li>
          <li>Thoughtfully during an action.</li>
          <li>Briefly as a review after action.</li>
          <li>Systematically over a period of time after action.</li>
          <li>Long-term as one attempts to develop formal or informal theory.</li>
        </ul>
        Which types are you performing when reflecting on your skills?
      </p>
      <div class="chain-separator-container">
        <img src="../img/separator-new-14.png" class="chain-separator">
      </div>
      <p>In case you need some inspiration for your reflection process, here are some ideas from the same article:</p>
      <ul>
        <li>Seek alternatives.</li>
        <li>View from various perspectives.</li>
        <li>Seek the framework, theoretical basis, underlying rationale (of behaviors, methods, techniques, programs).</li>
        <li>Compare and contrast.</li>
        <li>Put into different/varied contexts.</li>
        <li>Ask "what if. . . ?"</li>
        <li>Consider consequences.</li>
      </ul>

      <div class="chain-separator-container">
        <img src="../img/separator-new-14.png" class="chain-separator">
      </div>
      <p>More ideas which can help in the recurring process of reflection over your skills:</p>
      <ul>
        <li>If you identified some mistakes you want to eliminate, consider the queues that lead to those mistakes. What skills
          could you employ to avoid them?</li>
        <li>Slow yourself down when you notice you are using some skills, to give yourself the chance to observe more.</li>
        <li>Pick challenging tasks and notice your behavior while you tackle them.</li>
        <li>Consider what sort of feedback you can get from listing the skills you used in a certain situation.</li>
        <li>Identify what you would like to do differently in a similar situation, to be more effective in solving the problem.</li>
        <li>Try to first notice without judging/observe without interpreting</li>
      </ul>

      <div class="chain-separator-container">
        <img src="../img/separator-new-14.png" class="chain-separator">
      </div>

      <p>A tricky aspect is to identify ways in which you might be fooling yourself. Here's a snippet from an <a href="http://lesswrong.com/lw/dyk/selfskepticism_the_first_principle_of_rationality/"
        target="_blank">article on LessWrong</a>, by Aaron Swartz:
        <blockquote>As Feynman wrote, "The first principle is that you must not fool yourself -- and you are the easiest person to fool."
          Our beliefs always seem correct to us -- after all, that's why they're our beliefs -- so we have to work extra-hard
          to try to prove them wrong. This means constantly looking for ways to test them against reality and to think of
          reasons our tests might be insufficient.</blockquote>
        As during testing activities, when evaluating our skills, we test our understanding of a matter by trying to disconfirm our
      </p>
      <div class="chain-separator-container">
        <img src="../img/separator-new-14.png" class="chain-separator">
      </div>
      <p>Finally, it's worth mentioning that this guideline is not meant to provide an exact recipe for extracting your skills
        and creating final list of skills to memorize. By repeating the process mindfully, you can customize it in a way that enables
        you to learn about your skills in a meaningful way, and to add more understanding.</p>
        Here are a few ideas, again from "The Sciences of the Artificial", about the difference between rote and meaningful learning:
        <blockquote>Partly it is a matter of indexing: meaningful material is indexed in such a way that it can be accessed readily when it is relevant.</blockquote>
        <blockquote>Partly it is a matter of redundancy: meaningful material is stored redundantly, so that if any fraction of it is forgotten, it can be reconstructedfrom the remainder.</blockquote>
        <blockquote>Partly it is a matter of representation: meaningful material is stored in the form of procedures rather than "passive" data, or if stored as data, 
          it is represented in such a way that general problem-solving processes and other procedures can readily make use of it.</blockquote>
    </div>

    <div class="step5 step" id="step-5">
      <h2><span class="stepHelper">5.</span> Share the map in the collective repo</h2>
      <p>You can share your own map in an anonymous way by publishing it in the collective repo. At any point you can unpublish
        it, making it private.</p>
      <p></p>
      <div class="published-state hide">
        <button id="shareMapBtn" class="btn btn-default">Publish</button>
        <button id="unShareMapBtn" class="btn btn-default hide">Unpublish</button>
      </div>

    </div>

  </div>

  <div class="col-md-3" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
      <ul class="nav bs-docs-sidenav">
        <li>
          <a href="#personal-workspace">This is your personal workspace</a>
          <ul class="nav">
            <li><a href="#step-1">1. Identify problem-solving situations</a></li>
            <li><a href="#step-2">2. Identify the skills you used</a></li>
            <li><a href="#step-3">3. List them under categories in your map</a></li>
            <li><a href="#step-4">4. Repeat</a></li>
            <li><a href="#step-5">5. Share the map in the collective repo</a></li>
          </ul>
        </li>
      </ul>
    </nav>

  </div>
</div>
<template id="categoryTemplate">
  <li class="category">
    <div class="input-group">
      <input type="text" class="form-control category-name saveOnKeyPress" placeholder="Skill category">

      <span class="input-group-btn">
        <button class="btn btn-danger removeCategory saveOnClick"><i class="fa fa-minus"></i></button>
      </span>
    </div>

    <ul></ul>

    <button class="btn btn-default btn-default addSkill saveOnClick"><i class="fa fa-plus"></i> skill</button>
  </li>
</template>

<template id="extraSkillTemplate">
  <li class="skill">
    <div class="input-group">
      <input type="text" class="form-control skill-name saveOnKeyPress" placeholder="Skill">
      <span class="input-group-btn">
        <button class="btn btn-danger removeSkill saveOnClick specialClass"><i class="fa fa-minus"></i></button>
      </span>
    </div>
  </li>
</template>

<template id="editorTools">
  <ul class="nav navbar-nav headerCreate">
    <div class="navbar-form navbar-left" role="text-edit">
      <div class="btn-group">
        <button id="boldButton" class="btn btn-default saveOnClick" data-toggle="tooltip" data-placement="bottom" title="bold"><i class="fa fa-bold"></i></button>
        <button id="italicButton" class="btn btn-default saveOnClick" data-toggle="tooltip" data-placement="bottom" title="italic"><i class="fa fa-italic"></i></button>
        <button id="underlineButton" class="btn btn-default saveOnClick" data-toggle="tooltip" data-placement="bottom" title="underline"><i class="fa fa-underline"></i></button>
        <button id="unformatButton" class="btn btn-default saveOnClick" data-toggle="tooltip" data-placement="bottom" title="remove formatting"><i class="fa fa-remove"></i></button>
      </div>

      <div class="btn-group">
        <button id="olButton" class="btn btn-default saveOnClick" data-toggle="tooltip" data-placement="bottom" title="ordered list"><i class="fa fa-list-ol"></i></button>
        <button id="ulButton" class="btn btn-default saveOnClick" data-toggle="tooltip" data-placement="bottom" title="unordered list"><i class="fa fa-list-ul"></i></button>
      </div>

      <div class="btn-group">
        <button id="h2Button" class="btn btn-default saveOnClick" data-toggle="tooltip" data-placement="bottom" title="heading 2">H2</button>
        <button id="h3Button" class="btn btn-default saveOnClick" data-toggle="tooltip" data-placement="bottom" title="heading 3">H3</button>
        <button id="h4Button" class="btn btn-default saveOnClick" data-toggle="tooltip" data-placement="bottom" title="heading 4">H4</button>
        <button id="pButton" class="btn btn-default saveOnClick" data-toggle="tooltip" data-placement="bottom" title="paragraph"><i class="fa fa-paragraph"></i></button>
      </div>
    </div>
</template>