
<div class="jumbotron">
	<h1>Testing skills map</h1>
	<p>Welcome to the Testing skills map repo!</p>
	<p>
		Create the map of your own testing skills using a template and guidelines, and view maps created by others
	</p>

	<p>
		<a href="/create" class="btn btn-lg btn-default">Create a new map</a>
	</p>
</div>

<div class="introduction">

	<div class="container">
		<h2>Hello</h2>
		<p>
			Create the map of your own testing skills using a template and guidelines, and view maps created by others
		</p>
	</div>
</div>
