
<div class="jumbotron">
	<h1>Welcome!</h1>
	<h2>This is the Testing Skills Map Repo</h2>
	<p>
		Create the map of your own testing skills using a template and guidelines, and view maps created by others
	</p>

	<p>
		<a href="/create" class="btn btn-lg btn-default">Work on your map</a>
	</p>
</div>

<div class="introduction">

	<div class="container">
		<h2>Why create your testing skills map?</h2>
		<p>
			Reflection can be a great tool for learning. By building your map you get to practice reflection over a central element in testing, your skills. You know you have them, you know you use them, maybe you know you'd like to add some to your toolkit. But have you spent time actually noting down your skills and looking at the greater picture of your skills?
		</p>
		<p>	
			This application is meant to give you the opportunity to do that, and also to give you access to the maps others have created, in order to get ideas and a wider view upon a possible testing skills toolkit.
			The point is not to build a standard map template that fits every tester, but to explore your own skills and get inspiration from the skills others have identified.
		</p>
		<p>
			By revisiting your map and adding new skills as you acquire them or as you notice them in new situations, you will get a clearer picture of your skillset.
		</p>
		<p>
			One of the guiding principles here is that knowledge is more powerful when shared collectively. When you publish your own map in the collective repo, you contribute to the collective knowledge of the testing community. By contributing, you help in improving this collective knowledge. If everyone contributes, the collective knowledge is also a source for your personal knowledge. 
		</p>
		<p>
			Each person is different and uses different skills combinations to solve problems effectively, that's why having access to personal maps is relevant. The point is not to create a single template in which to squeeze every tester, but to build on the diversity of skills and skills  combination in our craft.
		</p>
	</div>
</div>
