/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hide {
    display: none;
}

body, html {
  min-height: 100%;
  height: 100%;
}

body {
    padding-bottom: 100px;
    background-color: #f5f5f5;
}

body.index {
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
}

body.index .jumbotron {
  margin-top: 70px;
  background: transparent;
  text-align: center;
  color: #000;
}

body.index .jumbotron-container {
  height: 532px;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto 30%;
}

body.index .introduction {
  background-color: rgba(240, 240, 240, 0.9);
  min-height: 100%;
  position: absolute;
  padding-top: 80px;

  left: 0;
  right: 0;
  top: 600px;
}

.root label {
    border-style: solid;
    border-width: 3px;
    border-color: green;
}

.menu-right-corner a {
  display: inline-block !important;
}

.sign-in {
  text-align: center;
}

.sign-in .fa {
  margin-top: 50px;
  font-size: 80px;
}

.map {
  border-style: solid;
  border-width: 2px;
  display: inline-table;
}

.skillsMap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  flex: 3;
  margin: 0;
  padding: 0;
  border-left: 1px solid #ccc;
  padding-bottom: 30px;
}

.skillsMap, .skillsMap ul {
  list-style-type: none;
  margin-left: 10px;
}

.skillsMap .category {
  border-top: 1px solid #ccc;
  width: calc(100% / 3);
  display: inline-block;
  padding: 0 15px;
  margin-top: 40px;
}

.input-group-map-name {
  width: 100%;
}

.skillsMap .input-group-btn {
  vertical-align: bottom;
}

.skillsMap .category > ul {
  padding-left: 10px;
}

.skillsMap .addSkill {
  margin-left: 20px;
}

.skillsMap .category-name, .skillsMap .skill-name, .mapName {
  background: transparent;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
  padding-right: 25px;
}

.skillsMap .category-name, .skillsMap .skill-name,
.skillsMap .category-name:active, .skillsMap .skill-name:active,
.skillsMap .btn, .skillsMap .btn:focus, .mapName {
  box-shadow: none !important;
}

.mapName {
  border-left: 0;
  font-size: 22px;
  font-weight: 680;
  color: #8A2908;
}

.skillsMap .btn:focus,
.map-full-screen:focus,
.map-full-screen:active {
  outline: none;
}

.skillsMap .has-warning .category-name,
.skillsMap .has-warning .skill-name,
#mapSection .has-warning .mapName {
  border-color: #EABA45;
}

.skillsMap .category-name {
    padding-top: 30px;
    height: 60px;
    font-weight: 690;
    font-size: 18px;
    color: #4B088A;
}

.skillsMap .skill-name {
    font-size: 15px;
}

.skillsMap .btn-danger,
.map-full-screen {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  margin-top: 1px;
  margin-left: -31px !important;
}

.skillsMap .btn-danger:hover,
.skillsMap .btn-danger:focus {
  color: #a9432f;
  background-color: transparent;
}

.skillsMap .addSkill {
  border-top: 0;
  border-right: 0;
  background-color: transparent;
  border-radius: 0;
  color: #ccc;
}

.skillsMap .addSkill:hover,
.skillsMap .addSkill:focus {
  color: rgb(113, 178, 230);
  border-color: rgb(113, 178, 230);
}

.editable-separator {
  height: 90px;

}

.step1Editable {
  min-height: 250px !important;
  -webkit-transition: background-color ease-in-out 1s;
}

.step1Editable.has-warning {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: background-color ease-in-out 0.5s;
}

.step {
  margin-top: 50px;

}

#skillsRow {
  background-color: #E0F2F7;
}

#heuristicSignature, .categoriesList, .skillsList{
  list-style-type: none;
}

#mapSection {
  margin-top: 30px;
  overflow: auto;
}

#mapSection .fa-compress {
  display: none;
}

body.fullscreen-map #mapSection .fa-compress {
  display: inline-block;
}

body.fullscreen-map #mapSection .fa-arrows-alt {
  display: none;
}

body.fullscreen-map #mapSection {
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: 30px;
}

body.fullscreen-map .navbar.navbar-fixed-top,
body.fullscreen-map .bs-docs-sidebar,
body.fullscreen-map #step-1,
body.fullscreen-map #step-2,
body.fullscreen-map #step-4,
body.fullscreen-map #step-5 {
  display: none;
}

.bs-docs-sidenav ul {
  margin-left: 20px;
}

.bs-docs-sidebar .nav>li>a {
  display: block;
  color: #767676;
  padding-left: 10px;
  padding: 0;
  line-height: 1.5em;
}

.bs-docs-sidebar .nav>li>a:focus,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li.active>a {
  color: #3C9276;
  text-decoration: none;
  background-color: transparent;
}

#personal-workspace, #step-1, #step-2, #step-3, #step-4, #step-5,
.bs-docs-sidenav, .sign-in, .browseMapContent, .aboutContent, .publishedSkillsMap {
  padding-top: 60px;
}

#step-5 {
  padding-bottom: 100px;
}

.headerCreate {
  display: none;
}

.headerCreate li {
  cursor: pointer;
}

#load {
  text-align: center;
  height: 250px;
  padding-top: 80px;
}

.bottom-group {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  max-height: 60%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 99999;
  border-top: 1px solid #ccc;
  overflow: auto;
}

.bottom-group .group {
  display: none;
}

.bottom-group .group.visible {
  display: block;
}

.bottom-group .group.visible {
  border-bottom: 1px solid #ccc;
}

.categories {
  overflow: hidden;
  position: relative;
}

#mapsSection li {
  list-style: none;
  margin-bottom: 80px;
}

#mapsSection a, #mapsSection a:hover,
#mapsSection a:active {
  text-decoration: none;
  display: block;
}

#mapsSection a {
  font-size: 25px;
  text-align: center;
}

.categories-container {
  border-bottom: 1px solid #aaa;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.categories:after {
  box-shadow: 0 -9px 11px -5px rgba(30,30,30,0.3);
  content: '-';
  height: 23px;
  position: absolute;
  left: 0;
  right: 0;
}

.published-map-category {
  background-color: rgba(152,133,131, 0.4);
  border: 1px solid #aaa;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  transition: 0.3s ease-in-out background;
}

.published-map-category:hover {
  background-color: rgba(152,133,131, 0.8);
}

.published-map-category img {
  width: 100%;
}

.publishedSkillsMap .categoriesList {
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #ccc;
  padding: 0;
}

.publishedSkillsMap .categoriesList > li {
  border-top: 1px solid #ccc;
  width: calc(100% / 3);
  margin-top: 20px;
  padding: 0 10px 0 30px;
}

.publishedSkillsMap .categoriesList > li .category {
  border: 1px solid #ccc;
  border-top: 0;
  border-right: 0;
  padding: 40px 15px 5px 15px;
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.publishedSkillsMap .categoriesList > li > ul {
  padding-left: 10px;
}

.publishedSkillsMap .categoriesList > li > ul > li {
  border: 1px solid #ccc;
  border-top: 0;
  border-right: 0;
  padding: 20px 15px 0 15px;
  margin-right: 10px;
}

.first-page-graphic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  bottom:0;

}

#heuristic-bullets-container {
  background-image: url("../img/bullets-12.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 110%;
}

#heuristicSignature {
  margin-left: 18px;
}

.editable-container {
  background-image: url("../img/new-editable-lines-13.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 36%;
}

.chain-separator {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100%;
  max-width: 530px;
  bottom:0;
}

#menu-logo {
  margin-top: 8px;
  margin-right: 7px;
  width: 70px;
}

.introduction .container .content {
   -webkit-column-count: 2;
   -moz-column-count: 2;
   column-count: 2;
   -webkit-column-gap: 30px;
   -moz-column-gap: 30px;
   column-gap: 30px;

}

#last-item-on-column {
  -webkit-column-break-after: always;
  break-after: column;
}

#brand-sup {
  color: rgb(102, 102, 102);
  font-weight: bold;
}
